@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');


html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #020e17 ;
}

.navbar {
    font-family: 'Source Code Pro', monospace;
}

.home {
    font-family: 'Mukta', sans-serif;
}

.context span {
  font-family: 'Source Code Pro', monospace;
}

.photo {
  background-color: #e8dcd2;
  width: 300px;
  height: 350px;
  border-radius: 65% 35% 56% 44% / 30% 30% 70% 70% ;
  overflow: hidden;
}
  
  @media (min-width: 481px) and (max-width: 768px) {
    .photo {
      background-color: #e8dcd2;
      width: 150px;
      height: 220px;
      border-radius: 65% 35% 56% 44% / 30% 30% 70% 70% ;
      overflow: hidden;
    }
      
  }
  
  
