@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');


html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #020e17 ;
}

.navbar {
    font-family: 'Source Code Pro', monospace;
}

.home {
    font-family: 'Mukta', sans-serif;
    padding: 3rem;
}

.context span {
  font-family: 'Source Code Pro', monospace;
}

.photo {
  background-color: #e8dcd2;
  width: 450px;
  height: 450px;
  border-radius: 65% 35% 56% 44% / 30% 30% 70% 70% ;
  /* border-radius: 60% 40% 69% 31% / 19% 48% 52% 81% ; */
  /* border: 5px solid rgb(176, 165, 69); */
  overflow: hidden;
}
  
  @media (min-width: 481px) and (max-width: 768px) {
    .home-container {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* This CSS will apply to devices with a width of 769px to 1024px */
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    /* This CSS will apply to devices with a width of 1025px to 1200px */
  }
  
  @media (min-width: 1201px) {
    /* This CSS will apply to devices with a width of 1201px or more */
  }
  
